- @active_tab = :home
- title "Amato's Woodfired Pizza", false

#photos
  = render :partial => 'photos'

#menus
  = render :partial => 'menus'

#about_us
  = render :partial => 'about_us'
 
#events
  = render :partial => 'events'

#news
  = render :partial => 'news'