- @active_tab = :home
- title "Amato's Woodfired Pizza", false

#photos.clear
  = render :partial => 'photos'

#menus.clear
  = render :partial => 'menus'

#main_content.clear
  #about_us
    = render :partial => 'about_us'
  
  #secondary_content
    #news
      = render :partial => 'news'
    
    #events
      = render :partial => 'events'